@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="Man_And_Machine" class="display-4 green-text">U.D.O. - Man And Machine (2021)</h1>
    <p>Favorite songs, <a href="https://www.youtube.com/watch?v=tz_Z6u--E5o" target="_blank">IF_Typing spaghetti OR_Cranking code NOT_Grinding bytes</a>.</p>
</div>

<div class="word-container">
    <div class="letter" id="letter-w">W</div>
    <div class="letter" id="letter-i">I</div>
    <div class="letter" id="letter-n">N</div>
</div>

<!-- Link to CSS -->
<link rel="stylesheet" href="css/site.css" asp-append-version="true" />

<!-- Link to JavaScript -->
<script src="js/site.js" asp-append-version="true"></script>
